{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>NIDS: {% block title %}{% endblock title %}</title></head>
<body class="font-mono">
    <nav class="bg-black dark:bg-gray-900">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
            <a href="/" class="text-[#0eff00] text-2xl font-bold">NIDS</a>
            <ul class="flex space-x-4 text-[#0eff00] text-medium font-bold">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% comment %} <li><a href="#">Contact</a></li> {% endcomment %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <footer class="text-center py-4 bg-black dark:bg-gray-900">
        <p class="space-x-4 text-[#0eff00]">&copy; 2024. All rights reserved.</p>
        <p class="space-x-4 text-[#0eff00]">NIDS Application</p>
    </footer>      
</body>
</html>
