{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="relative h-screen bg-gradient-to-r from-slate-500 to-blue-500">
        <div class="bg-slate-900 text-white shadow-xl p-5 bg-slate-200 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 space-y-6 rounded-md">
            <p class="text-center text-sm">Upload the PCAP file</p>
            <form method="post" enctype="multipart/form-data" action="{% url 'scan' %}">
                {% csrf_token %}
                <div>
                    <input type="file" name="pcap_file" id="pcap_file" accept=".pcap, .pcapng">
                </div>
                <div class="mt-4 flex">
                    <button type="submit" class="hover:bg-blue-700 py-2 px-5 bg-blue-500 text-white rounded-md flex-grow">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}    
