{% extends 'base.html' %}
{% load static %}
{% block title %}
Live Traffic Analysis 
{% endblock title %}
{% block content %}
    <div class="bg-gradient-to-bl from-black to-gray-600 min-h-screen p-16 text-white">
        <table class="table-auto w-full">
            <thead>
                <tr class="text-center bg-black text-[#0eff00]">
                    <th class="border border-white px-3 py-2">Duration</th>
                    <th class="border border-white px-3 py-2">Protocol Type</th>
                    <th class="border border-white px-3 py-2">Service</th>
                    <th class="border border-white px-3 py-2">Flag</th>
                    <th class="border border-white px-3 py-2">Source Bytes</th>
                    <th class="border border-white px-3 py-2">Destination Bytes</th>
                    <th class="border border-white px-3 py-2">Urgent?</th>
                    <th class="border border-white px-3 py-2">Number of Failed Logins</th>
                    <th class="border border-white px-3 py-2">SYN Flag Error Rate</th>
                    <th class="border border-white px-3 py-2">RST Flag Error Rate</th>
                    <th class="border border-white px-3 py-2">Attack Type</th>
                </tr>
            </thead>
            <tbody id="liveTraffic">
            </tbody>
            </table>
        </div>    

    <script>
        // Function to handle streaming data
        async function handleStream() {
            const response = await fetch('http://127.0.0.1:8000/scanLiveTraffic/');
            // Parse the streamed data
            function parseData(data)
            {
                // Construct HTML content to display the data
                const isNormal = data[10] === 'Normal';
                const htmlContent = `
                    <tr class="text-center">
                    <td class="border px-3 py-2 bg-gray-600">${data[0]}</td>
                    <td class="border px-3 py-2 bg-gray-600">${data[1]}</td>
                    <td class="border px-3 py-2 bg-gray-600">${data[2]}</td>
                    <td class="border px-3 py-2 bg-gray-600">${data[3]}</td>
                    <td class="border px-3 py-2 bg-gray-600">${data[4]}</td>
                    <td class="border px-3 py-2 bg-gray-600">${data[5]}</td>
                    <td class="border px-3 py-2 bg-gray-600">${data[6]}</td>
                    <td class="border px-3 py-2 bg-gray-600">${data[7]}</td>
                    <td class="border px-3 py-2 bg-gray-600">${data[8]}</td>
                    <td class="border px-3 py-2 bg-gray-600">${data[9]}</td>
                    <td class="border px-3 py-2 ${isNormal ? 'bg-green-500' : 'bg-red-600'}">${data[10]}</td>
                    <tr>
                `;
                return htmlContent;
            }
            // Append the HTML content to the liveTraffic div
            const reader = response.body.getReader();
            while (true) {
                const { done, value } = await reader.read();
                if (done) {
                    // Close the connection when done
                    reader.releaseLock();
                    break;
                }
                const data = new TextDecoder().decode(value);
                let arr = JSON.parse(data.replace(/'/g, '"'));
                document.getElementById('liveTraffic').innerHTML += parseData(arr);
            }
        }
        window.onload = handleStream;
    </script>
{% endblock content %}
