{% extends 'base.html' %}
{% load static %}
{% block title %}
Scan Packets
{% endblock title %}
{% block content %}
    <div class="bg-gradient-to-bl from-black to-blue-800 min-h-screen text-white p-24">
    <div class="flex flex-col justify-center items-center text-white">
      <p class="text-4xl font-bold text-center mb-8">
        Network Intrusion Detection System
      </p>
      <p class="text-xl text-white text-center mb-12">
        Protect your network from malicious activity.
      </p>
    </div>
    <!-- Bottom Part -->
    <div class="flex justify-around">
      <div>
        <label class="font-semibold">UPLOAD PCAP</label>
        <form
          method="post"
          enctype="multipart/form-data"
          action="{% url 'scanPCAPFile' %}"
        >
          {% csrf_token %}
          <div class="space-y-10 items-center">
            <div class="flex flex-col mb-4 md:mb-0">
              <input
                type="file"
                name="pcap_file"
                id="pcap-file"
                class="p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                accept=".pcap, .pcapng"
                
              />
            </div>
            <button
              type="submit"
              class="disabled:opacity-50 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 disabled:cursor-not-allowed"
            >
              Analyze PCAP
            </button>
          </div>
        </form>
      </div>
      <form method="get" action="{% url 'scanLiveTraffic' %}">
        <div class="mt-8 text-center">
          <button
            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:offset-2 focus:ring-green-700"
            type="submit"
          >
            Start Live Traffic Analysis
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}    
